// Fonts
@mixin font-h1 {
	color: $font-color;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
}

@mixin font-h2 {
	color: $font-color;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

@mixin font-h3 {
	color: $font-color;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

@mixin font-p {
	color: $font-color;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

@mixin font-sign {
	color: $caption-color;
	font-size: 14px;
	font-weight: 400;
}