@charset "UTF-8";
/*	Fonts
---------------------------------------*/
/*	Reset
---------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

*:focus, *:focus * {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

html {
	min-height: 100%;
	height: 100%;
}

body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
}

body.opened {
	overflow: hidden;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	overflow: hidden;
	background-position: center top;
	width: 100%;
}

ol, ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4, p {
	line-height: normal;
	margin: 0;
	padding: 0;
}

a:focus, button:focus, input:focus, textarea:focus {
	outline: 0;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.base-wrapper, .base-container {
	width: 100%;
}

.base-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
}

.base-container {
	-webkit-box-flex: 1;
	-ms-flex: 1  auto;
	flex: 1  auto;
	overflow: initial;
}

.base-page {
	padding-bottom: 90px;
}

.breadcrumbs {
	padding: 28px 0 20px;
}

.breadcrumbs ul {
	display: block;
	font-size: 0;
}

.breadcrumbs ul li {
	display: inline;
	font-size: 16px;
	font-weight: 400;
	color: #818a91;
}

.breadcrumbs ul li a {
	color: #0275D8;
}

.breadcrumbs ul li a:hover {
	text-decoration: underline;
}

.breadcrumbs ul li:not(:last-child):after {
	content: '/';
	margin: 0 10px 0 5px;
	color: #818a91;
	font-size: 16px;
	font-weight: 400;
}

.sidebar {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin: 0 0 30px;
}

.sidebar-item {
	display: block;
}

.sidebar-item:hover .sidebar-link {
	background-color: #f5f5f5;
}

.sidebar-item.current-sidebar-item .sidebar-link {
	background-color: #0275D8;
	color: #fff;
}

.sidebar-item:not(:last-child) .sidebar-link:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
}

.sidebar-link {
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding: 12px 20px;
	-webkit-transition: color 200ms ease, background-color 200ms ease;
	transition: color 200ms ease, background-color 200ms ease;
}

/*==========  Desktop First Method  ==========*/
@media (min-width: 1200px) {
	.container {
		width: 1200px;
		max-width: 100%;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}

	main {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.breadcrumbs {
		padding: 14px 0 8px;
	}

	.breadcrumbs ul li:after {
		margin: 0 3px;
	}
}

@media (max-width: 575px) {
	.base-page {
		padding-bottom: 15px;
	}
}

.content-text ol ol, .content-text ol ul, .content-text ul ol, .content-text ul ul {
	padding-top: 8px;
}

.content-text h1 {
	padding: 0 0 12px;
	color: #333;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
}

.content-text h2 {
	padding: 15px 0 12px;
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.content-text h3 {
	padding: 14px 0 5px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.content-text p {
	padding: 0 0 16px;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.content-text a {
	color: #0275D8;
	text-decoration: underline;
	-webkit-transition: .3s;
	transition: .3s;
}

.content-text a:hover, .content-text afocus {
	color: #0056b3 !important;
}

.content-text a:visited {
	color: #7a339e !important;
}

.content-text ol {
	padding: 4px 0 0;
	margin-left: 28px;
}

.content-text ol > li {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	list-style-type: decimal;
	padding-bottom: 8px;
	padding-left: 8px;
}

.content-text ol ul li:last-child {
	padding-bottom: 0;
}

.content-text ul {
	margin-left: 35px;
	padding-top: 4px;
}

.content-text ul > li {
	position: relative;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding-bottom: 8px;
}

.content-text ul > li:before {
	content: '–';
	position: absolute;
	left: -20px;
}

.content-text img {
	width: 100%;
	height: auto;
	margin: 14px 0 17px;
	-o-object-fit: cover;
	object-fit: cover;
}

.content-text img.noresize {
	height: auto !important;
}

.content-text table th, .content-text table td {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 17px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.content-text table th:last-child, .content-text table td:last-child {
	border-right: 0;
}

.content-text table thead tr th {
	color: #999;
	background-color: #f5f5f5;
}

.content-text table tbody tr:first-child td {
	color: #999;
	background-color: #f5f5f5;
}

.content-text table tbody tr:last-child td {
	border-bottom: 0;
}

.quote {
	position: relative;
	border-left: 6px solid #0275D8;
	padding: 21px 18px;
	margin: 20px 0 10px;
	background-color: #f8f8f8;
}

.quote-text {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.files {
	padding: 10px 0;
}

.file {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 10px 0 15px;
}

.file-thumbnail {
	display: inline-block;
	min-width: 33px;
	width: 33px;
	height: 40px;
	margin-top: 3px;
}

.file-thumbnail > svg {
	width: 100%;
	height: 100%;
	fill: #0275D8;
}

.file-info {
	display: inline-block;
	padding: 1px 0 0 13px;
}

.file-name {
	display: block;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	line-height: 22px;
}

.file-name em {
	font-style: normal;
	border: 1px solid rgba(0, 0, 0, 0);
	-webkit-transition: .3s;
	transition: .3s;
}

.file-size {
	display: block;
	padding-top: 4px;
	color: #999;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.file:hover .file-name {
	color: #0275D8;
	text-decoration: underline;
}

.table {
	padding: 0 0 20px;
	margin: 0;
}

.table-responsive {
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table h3 {
	padding: 10px 20px;
	border: 0;
	letter-spacing: 0.3px;
	background-color: #0275D8;
	border-radius: 4px 4px 0 0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.table table {
	width: 100%;
}

.text-underline {
	padding: 12px 0;
}

.text-underline p {
	padding: 0 0 11px;
	border-bottom: 2px solid #0275D8;
	color: #333;
	font-size: 24px;
	font-weight: 700;
}

.certificates {
	padding: 12px 0 16px;
}

.certificate-thumbnail {
	position: relative;
	display: block;
	width: calc(100% - 24px);
	height: 174px;
	border: 1px solid #e5e5e5;
	border-bottom-color: #e5e5e5;
	margin: 6px 0 5px;
	background-position: center top;
	background-size: cover;
}

.certificate-thumbnail:before {
	content: '';
	position: absolute;
	right: -27px;
	bottom: 0;
	width: 26px;
	height: 36px;
	border-top: 36px solid #e5e5e5;
	border-right: 26px solid transparent;
}

.certificate-thumbnail:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(2, 117, 216, 0.7);
	background-size: 30px 30px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yOS42IDI3LjhsLTYuNi02LjVjMi0yLjMgMy4yLTUuMiAzLjItOC40IDAtNy4xLTUuOS0xMi45LTEzLjEtMTIuOS03LjIgMC0xMy4xIDUuOC0xMy4xIDEyLjlzNS45IDEyLjkgMTMuMSAxMi45YzMgMCA1LjgtMSA4LTIuN2w2LjcgNi42Yy4zLjMuNS40LjkuNHMuNy0uMS45LS40Yy41LS42LjUtMS40IDAtMS45em0tMjctMTQuOGMwLTUuNyA0LjctMTAuMyAxMC41LTEwLjNzMTAuNSA0LjYgMTAuNSAxMC4zLTQuNyAxMC4zLTEwLjUgMTAuMy0xMC41LTQuNi0xMC41LTEwLjN6TTE4LjMgMTEuNWgtMy45di0zLjhjMC0uOC0uNS0xLjMtMS4zLTEuM3MtMS4zLjUtMS4zIDEuM3YzLjdoLTMuOGMtLjggMC0xLjMuNS0xLjMgMS4zcy41IDEuMyAxLjMgMS4zaDMuOHYzLjljMCAuOC41IDEuMyAxLjMgMS4zczEuMy0uNiAxLjMtMS4zdi0zLjloMy45Yy43IDAgMS4zLS41IDEuMy0xLjNzLS41LTEuMi0xLjMtMS4yeiIvPjwvc3ZnPg==);
	-webkit-transition: .3s;
	transition: .3s;
}

.certificate-thumbnail:hover:after {
	opacity: 1;
}

.certificate-thumbnail.w_certificates {
	min-height: 174px;
	-o-object-fit: cover;
	object-fit: cover;
}

.certificate-sign p {
	display: block;
	color: #999;
	font-size: 14px;
	font-weight: 400;
}

.gallery-item {
	padding: 10px 0 22px;
}

.gallery-item-thumbnail {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 0 0 10px;
	border: 1px solid #e5e5e5;
	background-position: center;
	background-size: cover;
}

.gallery-item-thumbnail:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(2, 117, 216, 0.7);
	background-size: 30px 30px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yOS42IDI3LjhsLTYuNi02LjVjMi0yLjMgMy4yLTUuMiAzLjItOC40IDAtNy4xLTUuOS0xMi45LTEzLjEtMTIuOS03LjIgMC0xMy4xIDUuOC0xMy4xIDEyLjlzNS45IDEyLjkgMTMuMSAxMi45YzMgMCA1LjgtMSA4LTIuN2w2LjcgNi42Yy4zLjMuNS40LjkuNHMuNy0uMS45LS40Yy41LS42LjUtMS40IDAtMS45em0tMjctMTQuOGMwLTUuNyA0LjctMTAuMyAxMC41LTEwLjNzMTAuNSA0LjYgMTAuNSAxMC4zLTQuNyAxMC4zLTEwLjUgMTAuMy0xMC41LTQuNi0xMC41LTEwLjN6TTE4LjMgMTEuNWgtMy45di0zLjhjMC0uOC0uNS0xLjMtMS4zLTEuM3MtMS4zLjUtMS4zIDEuM3YzLjdoLTMuOGMtLjggMC0xLjMuNS0xLjMgMS4zcy41IDEuMyAxLjMgMS4zaDMuOHYzLjljMCAuOC41IDEuMyAxLjMgMS4zczEuMy0uNiAxLjMtMS4zdi0zLjloMy45Yy43IDAgMS4zLS41IDEuMy0xLjNzLS41LTEuMi0xLjMtMS4yeiIvPjwvc3ZnPg==);
	-webkit-transition: .3s;
	transition: .3s;
}

.gallery-item-thumbnail:hover:after {
	opacity: 1;
}

.gallery-item-sign p {
	display: block;
	color: #999;
	font-size: 14px;
	font-weight: 400;
}

@media (max-width: 767px) {
	.content-text ol, .content-text ul {
		padding-top: 5px;
	}

	.content-text h1 {
		font-size: 26px;
		line-height: 32px;
		padding: 5px 0 10px;
	}

	.content-text h2 {
		font-size: 18px;
		padding: 10px 0 0;
		line-height: 26px;
	}

	.content-text h3 {
		font-size: 14px;
		padding: 5px 0 0;
		line-height: 20px;
	}

	.content-text p {
		font-size: 15px;
		line-height: 23px;
		padding: 5px 0 5px;
	}

	.content-text ol {
		padding: 5px 0;
		margin-left: 15px;
	}

	.content-text ol > li {
		font-size: 15px;
		line-height: 23px;
		padding-bottom: 5px;
	}

	.content-text ul {
		margin-left: 15px;
	}

	.content-text ul > li {
		font-size: 15px;
		line-height: 23px;
		padding-bottom: 5px;
	}

	.content-text ul > li:before {
		left: -15px;
	}

	.content-text img {
		margin: 5px 0;
	}

	.content-text table th, .content-text table td {
		font-size: 14px;
		line-height: 20px;
		padding: 8px 10px;
	}

	.quote {
		padding: 5px 10px;
		margin: 15px 0;
	}

	.quote::before, .quote::after {
		width: 26px;
		height: 24px;
		background-size: 14px 12px;
	}

	.quote::before {
		top: -13px;
		left: -11px;
	}

	.quote::after {
		right: -11px;
		bottom: -13px;
	}

	.quote-text {
		font-size: 15px;
		line-height: 23px;
	}

	.file {
		padding: 6px 0;
	}

	.file-thumbnail {
		min-width: 26px;
		width: 26px;
		height: 32px;
	}

	.file-info {
		padding: 0 0 0 10px;
	}

	.file-name {
		font-size: 15px;
		line-height: 23px;
	}

	.file-size {
		font-size: 11px;
	}

	.table {
		padding: 5px 0;
	}

	.table h3 {
		font-size: 16px;
		line-height: 22px;
		padding: 10px 20px;
	}

	.text-underline {
		padding: 12px 0 5px;
	}

	.text-underline p {
		font-size: 18px;
		line-height: 24px;
		padding: 0 0 2px;
	}

	.certificates {
		padding: 5px 0 10px;
	}

	.certificate {
		padding: 0 0 8px;
	}

	.certificate-thumbnail {
		margin: 5px 0;
	}

	.certificate-sign p {
		font-size: 11px;
	}

	.gallery-item {
		padding: 5px 0;
	}

	.gallery-item-thumbnail {
		margin: 0 0 5px;
	}

	.gallery-item-sign p {
		font-size: 11px;
	}
}

/*	Extra styles
---------------------------------------*/
/*	Main styles
---------------------------------------*/
/*==========  Desktop First Method  ==========*/

/*# sourceMappingURL=main.css.map */
