block head
	- var pageTitle

<!DOCTYPE html>
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		title= pageTitle
		link(rel='stylesheet', href='/static/css/vendors.min.css')
		link(rel='stylesheet', href='/static/css/main.css')

	body
		.base-wrapper
			.base-container
				header.header
					.container
						.row
							.col-12
								// HTML here

				block content

			footer.footer
				.container
					.row
						.col-12
							// HTML here

		
		script(src="/static/js/vendors.bundle.js")
		script(src="/static/js/main.bundle.js")