extends base.pug
block append head
	- var pageTitle = "Пример текстовой страницы"

block content
	.base-page
		.container
			.row
				.col-12
					.breadcrumbs(itemscope="", itemtype="http://schema.org/BreadcrumbList")
						ul
							li(itemscope="", itemprop="itemListElement", itemtype="http://schema.org/ListItem")
								a(href="/", itemprop="name") Главная
								meta(itemprop="position", content="1")
							li(itemscope="", itemprop="itemListElement", itemtype="http://schema.org/ListItem")
								span(itemprop="name") Пример текстовой страницы
								meta(itemprop="position", content="2")

				.col-12.col-xl-9
					.content
						.content-text
							h1 H1. Пример заголовка типовой текстовой страницы
							p В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу. Было так сыро и туманно; в десяти шагах, вправо и влево от дороги, трудно было разглядеть хоть что-нибудь из окон вагона. 
								a(href="http://yanaafafasfasfadex.ru") Ссылка в тексте, 
								a(href="http://yandsfqffasfafafsafex.ru") ховер для ссылки, 
								a(href="http://yandex.ru") посещённая ссылка.
							p Из пассажиров были и возвращавшиеся из-за границы; но более были наполнены отделения для третьего класса, и всё людом мелким и деловым, не из очень далека. Все, как водится, устали, у всех отяжелели за ночь глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.
							h2 H2. Пример подзаголовка второго уровня типовой текстовой страницы в две строки и более
							p В одном из вагонов третьего класса, с рассвета, очутились друг против друга, у самого окна, два пассажира — оба люди молодые, оба почти налегке, оба не щегольски одетые, оба с довольно замечательными физиономиями и оба пожелавшие, наконец, войти друг с другом в разговор.
							h3 H3. Пример подзаголовка третьего уровня
							p Если б они оба знали один про другого, чем они особенно в эту минуту замечательны, то, конечно, подивились бы, что случай так странно посадил их друг против друга в третьеклассном вагоне петербургско-варшавского поезда.
							img(src="/static/images/default-image.jpg", alt="")
							
							h3 Пример нумерованного списка
							ol
								li Один из них был небольшого роста, лет двадцати семи, курчавый и почти черноволосый, с серыми маленькими, но огненными глазами.
								li Нос его был широк и сплюснут, лицо скулистое;
								li тонкие губы беспрерывно складывались в какую-то наглую, насмешливую и даже злую улыбку.
							h3 Пример маркированного списка
							ul
								li Один из них был небольшого роста, лет двадцати семи, курчавый и почти черноволосый, с серыми маленькими, но огненными глазами.
								li Нос его был широк и сплюснут, лицо скулистое;
								li тонкие губы беспрерывно складывались в какую-то наглую, насмешливую и даже злую улыбку.

						.quote
							p(class="quote-text") В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу.

						.files
							.row
								.col-md-6.col-12
									a(class="file", href="#", target="_blank")
										.file-thumbnail
											svg(role="img")
												use(xlink:href="/static/images/sprite.svg#file-icon")
										
										.file-info
											.file-name
												em Пример прикрепленного документа с длинным названием
											
											.file-size pdf 2,3 Мб

								.col-md-6.col-12
									a(class="file", href="#", target="_blank")
										.file-thumbnail
											svg(role="img")
												use(xlink:href="/static/images/sprite.svg#file-icon")
										
										.file-info
											.file-name
												em Пример прикрепленного документа с длинным названием
											
											.file-size DOC 218 Kб
								
						.content-text
							h3 Пример заголовка таблицы
							table
								tbody
									tr
										td Наименование столбца 1
										td Наименование столбца 2
									
									tr
										td Поэтажный план эвакуации
										td На заказ
									
									tr
										td Поэтажный план эвакуации (с фотолюминесцентным покрытием и текстовой частью) без рамки
										td На заказ
									
									tr
										td Дополнительный экземпляр плана
										td 1000 руб.
									
						.text-underline
							p Подзаголовок с линией

						.certificates
							.row
								.col-sm-4.col-6
									.certificate
										a(class="certificate-thumbnail", href="/static/images/certificate1.jpg", data-fancybox="certificates", style="background-image: url('/static/images/certificate1.jpg');")
										.certificate-sign
											p Пример подписи для вертикального документа формата A4

								.col-sm-4.col-6
									.certificate
										a(class="certificate-thumbnail", href="/static/images/certificate2.jpg", data-fancybox="certificates", style="background-image: url('/static/images/certificate2.jpg');")
								
								.col-sm-4.col-6
									.certificate
										a(class="certificate-thumbnail", href="/static/images/certificate3.jpg", data-fancybox="certificates", style="background-image: url('/static/images/certificate3.jpg');")
										

						.gallery
							.row
								.col-sm-6.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте
											
								.col-sm-6.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте

						.gallery
							.row
								.col-sm-4.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте
											
								.col-sm-4.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте

								.col-sm-4.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте

						.gallery
							.row
								.col-sm-3.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте
											
								.col-sm-3.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте

								.col-sm-3.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте

								.col-sm-3.col-6
									.gallery-item
										a(class="gallery-item-thumbnail", href="/static/images/default-image.jpg", data-fancybox="gallery-set", style="background-image: url('/static/images/default-image.jpg');")
										.gallery-item-sign
											p Пример подписи для изображения в тексте
											
				.col-12.col-xl-3.d-none.d-xl-block
					.sidebar
						ul
							li(class="sidebar-item current-sidebar-item")
								a(href="#", class="sidebar-link") Активный пункт меню
								
							li(class="sidebar-item")
								a(href="#", class="sidebar-link") Пункт меню
								
							li(class="sidebar-item")
								a(href="#", class="sidebar-link") Пункт меню

							li(class="sidebar-item")
								a(href="#", class="sidebar-link") Пункт меню
									


