/*	Fonts
---------------------------------------*/

// @font-face {
//     font-family: 'Averta';
//     src: local('../fonts/averta/averta-regular'), local('../fonts/averta/averta-regular'), url('../fonts/averta/averta-regular.woff2') format('woff2'), url('../fonts/averta/averta-regular.woff') format('woff'), url('../fonts/averta/averta-regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }





/*	Reset
---------------------------------------*/
*  {
	margin: 0;
	padding: 0;
}
*:focus, *:focus *{
	box-shadow: none !important;
}
.custom-control-input:focus~.custom-control-label::before{
	box-shadow: none !important;
}
html  {
	min-height: 100%;
	height: 100%;
}
body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	&.opened {
		overflow: hidden;
	}
}
main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
	background-position: center top;
	width: 100%;
}

ol, ul  { 
	padding: 0;
	margin: 0;
}
li  {
	list-style-type: none;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4, p  {
	line-height: normal;
	margin: 0;
	padding: 0;
}
a:focus, button:focus, input:focus, textarea:focus  {
	outline: 0;
	text-decoration: none;
}
a  {
	text-decoration: none;
	&:hover  {
		text-decoration: none;
	}
}

// General styles
.base {
    &-wrapper, &-container {
        width: 100%;
    }
    
    &-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &-container {
        flex: 1  auto;
        overflow: initial;
    }

    &-page {
		padding-bottom: 90px;
    }
}

.breadcrumbs {
	padding: 28px 0 20px;
	ul {
		display: block;
		font-size: 0;
		li {
			display: inline;
			font-size: 16px;
			font-weight: 400;
			color: #818a91;
			a {
				color: $main-color;
				&:hover{
					text-decoration: underline;
				}
			}
			&:not(:last-child){
				&:after{
					content: '/';
					margin: 0 10px 0 5px;
					color: #818a91;
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}
}

.sidebar {
    $this: &;
    border: 1px solid $border-color;
    background-color: #fff;
    margin: 0 0 30px;

    &-item {
        display: block;

        &:hover {
            #{$this}-link {
                background-color: #f5f5f5;
            }
        }

        &.current-sidebar-item {
            #{$this}-link {
                background-color: $main-color;
                color: #fff;
            }
		}
		
		&:not(:last-child){
			#{$this}-link{
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #e6e6e6;
				}
			}
		}
    }

    &-link {
        display: block;
        display: flex;
        align-items: center;
        position: relative;
        color: $font-color;
        font-size: 16px;
        font-weight: 400;
        padding: 12px 20px;
        transition: color 200ms ease, background-color 200ms ease;
    }
}








/*==========  Desktop First Method  ==========*/
@media (min-width: 1200px){
	.container {
		width: 1200px;
		max-width: 100%;
	}
}

@media (max-width : 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
	main{
		width: 100%;
	}
}

@media (max-width : 991px) {
	
}

@media (max-width : 767px) {
	.breadcrumbs{
		padding: 14px 0 8px;
		ul{
			li:after{
				margin: 0 3px;
			}
		}
	}
}

@media (max-width : 575px) {
	.base{
		&-page{
			padding-bottom: 15px;
		}
	}
}