/*==========  Desktop First Method  ==========*/
// Write here...



@media (max-width : 1199px) {
	
}

@media (max-width : 991px) {
	
}

@media (max-width : 767px) {
	
}

@media(max-width: 575px){
	
}

