// Text
.content-text {
	ol ol, ol ul, ul ol, ul ul {
		padding-top: 8px;
	}
	h1 {
		padding: 0 0 12px;
		@include font-h1;
	}
	h2 {
		padding: 15px 0 12px;
		@include font-h2;
	}
	h3 {
		padding: 14px 0 5px;
		@include font-h3;
	}
	p {
		padding: 0 0 16px;
		@include font-p;
	}
	a {
		color: $main-color;
		text-decoration: underline;
		transition: .3s;
		&:hover, &focus {
			color: #0056b3 !important;
		}
		&:visited{
			color: #7a339e !important;
		}
	}
	
	ol {
		padding: 4px 0 0;
		margin-left: 28px;
		> li {
			@include font-p;
			list-style-type: decimal;
			padding-bottom: 8px;
			padding-left: 8px;
		}
		ul{
			li:last-child{
				padding-bottom: 0;
			}
		}
	}
	ul {
		margin-left: 35px;
		padding-top: 4px;
		> li {
			position: relative;
			@include font-p;
			padding-bottom: 8px;
			&:before {
				content: '–';
				position: absolute;
				left: -20px;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		margin: 14px 0 17px;
		object-fit: cover;
		&.noresize{
			height: auto !important;
		}
	}
	table {
		th, td {
			color: $font-color;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			padding: 10px 17px;
			border-right: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			&:last-child {
				border-right: 0;
			}
		}
		thead {
			tr {
				th {
					color: $caption-color;
					background-color: #f5f5f5;
				}
			}
		}
		tbody {
			tr {
				&:first-child td{
					color: $caption-color;
					background-color: #f5f5f5;
				}
				&:last-child td {
					border-bottom: 0;
				}
			}
		}
	}
}

// Quote
.quote {
	position: relative;
	border-left: 6px solid $main-color;
	padding: 21px 18px;
	margin: 20px 0 10px;
	background-color: #f8f8f8;
	&-text {
		color: $font-color;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}

// Files
.files {
	padding: 10px 0;
}
.file {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px 0 15px;
	&-thumbnail {
		display: inline-block;
		min-width: 33px;
		width: 33px;
		height: 40px;
		margin-top: 3px;
		> svg {
			width: 100%;
			height: 100%;
			fill: $main-color;
		}
	}
	&-info {
		display: inline-block;
		padding: 1px 0 0 13px;
	}
	&-name {
		display: block;
		@include font-p;
		line-height: 22px;
		em {
			font-style: normal;
			border: 1px solid rgba(0,0,0,0);
			transition: .3s;
		}
	}
	&-size {
		display: block;
		padding-top: 4px;
		@include font-sign;
		text-transform: uppercase;
	}
	&:hover & {
		&-name {
			color: $main-color;
			text-decoration: underline;
		}
	}
}

// Table
.table {
	padding: 0 0 20px;
	margin: 0;
	&-responsive {
		border: 1px solid $border-color;
		border-top: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	h3 {
		padding: 10px 20px;
		border: 0;
		letter-spacing: 0.3px;
		background-color: $main-color;
		border-radius: 4px 4px 0 0;
		color: #fff;
		font-size: 18px;
		font-weight: 700;
	}
	table{
		width: 100%;
	}
}

// Text-underline
.text-underline {
	padding: 12px 0;
	p {
		padding: 0 0 11px;
		border-bottom: 2px solid $main-color;
		color: $font-color;
		font-size: 24px;
		font-weight: 700;
	}
}

// Certificates
.certificates {
	padding: 12px 0 16px;
}
.certificate {
	&-thumbnail {
		position: relative;
		display: block;
		width: calc(100% - 24px);
		height: 174px;
		border: 1px solid $border-color;
		border-bottom-color: $border-color;
		margin: 6px 0 5px;
		background-position: center top;
		background-size: cover;
		&:before {
			content: '';
			position: absolute;
			right: -27px;
			bottom: 0;
			width: 26px;
			height: 36px;
			border-top: 36px solid $border-color;
			border-right: 26px solid transparent;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $main-color-alpha;
			background-size: 30px 30px;
			background-image: $whiteZoomIcon;
			transition: .3s;
		}
		&:hover:after {
			opacity: 1;
		}
		&.w_certificates{
			min-height: 174px;
			object-fit: cover;
		}
	}
	&-sign {
		p {
			display: block;
			@include font-sign;
		}
	}
}

// Gallery-item
.gallery-item {
	padding: 10px 0 22px;
	&-thumbnail {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		margin: 0 0 10px;
		border: 1px solid $border-color;
		background-position: center;
		background-size: cover;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $main-color-alpha;
			background-size: 30px 30px;
			background-image: $whiteZoomIcon;
			transition: .3s;
		}
		&:hover:after {
			opacity: 1;
		}
	}
	&-sign {
		p {
			display: block;
			@include font-sign;
		}
	}
}





@import "components/media-mixins";

@media(max-width: 767px) {
	// Text
	.content-text {
		ol, ul {
			padding-top: 5px;
		}

		h1 {
			@include font-h1;
			padding: 5px 0 10px;
		}
		h2 {
			@include font-h2;
			padding: 10px 0 0;
			line-height: 26px;
		}
		h3 {
			@include font-h3;
			padding: 5px 0 0;
			line-height: 20px;
		}
		p {
			@include font-p;
			padding: 5px 0 5px;
		}
		ol {
			padding: 5px 0;
			margin-left: 15px;
			> li {
				@include font-p;
				padding-bottom: 5px;
			}
		}
		ul {
			margin-left: 15px;
			> li {
				@include font-p;
				padding-bottom: 5px;
				&:before {
					left: -15px;
				}
			}
		}
		img {
			margin: 5px 0;
		}
		table {
			th, td {
				font-size: 14px;
				line-height: 20px;
				padding: 8px 10px;
			}
		}
	}

	// Quote
	.quote {
		padding: 5px 10px;
		margin: 15px 0;
		&::before, &::after {
			width: 26px;
			height: 24px;
			background-size: 14px 12px;
		}
		&::before {
			top: -13px;
			left: -11px;
		}
		&::after {
			right: -11px;
			bottom: -13px;
		}
		&-text {
			@include font-p;
		}
	}

	// Files
	.file {
		padding: 6px 0;
		&-thumbnail {
			min-width: 26px;
			width: 26px;
			height: 32px;
		}
		&-info {
			padding: 0 0 0 10px;
		}
		&-name {
			@include font-p;
		}
		&-size {
			@include font-sign;
		}
	}

	// Table
	.table {
		padding: 5px 0;

		h3{
			font-size: 16px;
			line-height: 22px;
			padding: 10px 20px;
		}
	}

	// Text-underline
	.text-underline {
		padding: 12px 0 5px;
		p {
			@include font-h2;
			line-height: 24px;
			padding: 0 0 2px;
		}
	}

	// Certificates
	.certificates {
		padding: 5px 0 10px;
	}
	.certificate {
		padding: 0 0 8px;
		&-thumbnail {
			margin: 5px 0;
		}
		&-sign {
			p {
				@include font-sign;
			}
		}
	}

	// Gallery-item
	.gallery-item {
		padding: 5px 0;
		&-thumbnail {
			margin: 0 0 5px;
		}
		&-sign {
			p {
				@include font-sign;
			}
		}
	}
}